<!DOCTYPE html>
{% load static %}
{% static '' as baseUrl %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coco King</title>


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Handlee:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/creative.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon(1).ico' %}">

    <!-- Flag CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/flags.css' %}" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Coco King</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Σχετικά με εμάς</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Υπηρεσίες</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Λίστα αποθεμάτων</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#contact">Επικοινωνία</a>
                    </li>
                    <li>
                    <a href="{% url 'home' %}"><img src="{% static 'assets/img/NFFFFFF-0.png' %}" class="flag flag-gb flag_placement" alt="British flag" /></a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="{% static 'assets/img/logo.png' %}" id="logo">
                <hr>
                <a href="#about" class="page-scroll">
                  <i class="fa fa-4x fa-arrow-circle-down"></i>
                </a>

            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Σχετικά με Εμάς</h2>
                    <hr class="light">
                    <p class="text-faded">Εδώ στο Coco King είχαμε μια απλή ιδέα να εισάγουμε τις φρεσκότερες και νοστιμότερες καρύδες που θα μπορούσαμε να βρούμε, στο όμορφο νησί της Κύπρου.

Κάνουμε όλη τη σκληρή δουλειά για να μην πρέπει να την κάνεις εσύ.

Οι καρύδες μας είναι ακατέργαστες και μη παστεριωμένες.

Πολλές εταιρίες που παρέχουν καρύδες και νερό καρύδας συχνά τις επεξεργάζονται για να αυξήσουν τη διάρκεια ζωής τους.

Πιστεύουμε στη διατήρηση των πραγμάτων φυσικά, έτσι πουλάμε τις καρύδες όπως έρχονται, φρέσκες από το δέντρο. Αυτό γίνεται για να εξασφαλίσουμε ότι τίποτα από τις θρεπτικές αξίες, τις ζωτικές βιταμίνες, το κάλλος και τη γεύση δε χάνεται.

Μόλις δοκιμάσεις έναν από τους καρπούς μας, είμαστε σίγουροι ότι θα εθιστείς όπως εμείς.</p>
                    <button class="btn btn-success popup">Περισσότερες πληροφορίες</button>
                    <div class="popup">
                      <br />
                      <h2 class="section-heading">Σχετικά με τις Καρύδες και το Νερό Καρύδας</h2>
                      <hr class="light">
                      <p class="text-faded">Οι φρέσκες, νεαρές καρύδες Ταϊλάνδης είναι γεμάτες με ακατέργαστο, μη παστεριωμένο νερό.</p>
                      <p class="text-faded">Καλύτερες από τα αθλητικά ποτά, είναι εξαιρετικές για την τόνωση της ενέργειας μετά από μια προπόνηση ή για την αναπλήρωση των υγρών μετά τη yoga.</p>
                      <p class="text-faded">Σε κρατούν ενυδατωμένο και σε δροσίζουν στον ήλιο και όχι μόνο αυτό! Είναι ακόμα ένα εκπληκτικό γιατρικό για το hangover,  τέλειες όταν αναμειγνύονται με αλκοόλ και αποτελούν ένα εξαιρετικό συστατικό για πολλά πιάτα και συνταγές.</p>
                      <p class="text-faded">Γεμάτες με ηλεκτρολύτες, συμπεριλαμβάνουν μαγνήσιο, ασβέστιο, νάτριο, φώσφορο και περιέχουν τόσο κάλλιο όσο δύο μπανάνες.</p>
                      <p class="text-faded">Με μηδενική χοληστερόλη και μηδενικές θερμίδες, έχουν σχεδόν ελάχιστα λιπαρά. Το νερό και η σάρκα τους είναι αντι-ιϊκά, αντιβακτηριδιακά, αντιφλεγμονώδη και αποστειρωμένα με πολλά αντιοξειδωτικά.</p>
                      <p class="text-faded">Είναι πλήρεις με φυσικές βιταμίνες, ανόργανα συστατικά και θρεπτικά συστατικά μέσα τους, συμπεριλαμβανομένου του χλωρίου και του σιδήρου. Δεν είναι μόνο καλές για τη δυσπεψία, λόγω της περιεκτικότητάς τους σε ίνες, αλλά μπορείς επίσης να πιείς αν είσαι αδιάθετος ή έγκυος, για να βελτιώσεις την ανάπτυξη, το μυϊκό, το καρδιαγγειακό, το νευρικό και το ανοσοποιητικό σου σύστημα.</p>
                      <p class="text-faded">Οι καρύδες θα βοηθήσουν σε πολλά προβλήματα υγείας, καθώς ομαλοποιούν την πίεση του αίματος, το σάκχαρο του αίματος και τα επίπεδα χοληστερόλης.</p>
                      <p class="text-faded">Περιλαμβάνουν Κυτοκινίνες, που βοηθούν στην ανάπτυξη των κυττάρων του ανθρώπου και περιορίζουν τη γήρανση, εξισορροπώντας τα επίπεδα του PH, καθώς διατηρούν το σώμα σου υπερβολικά ενυδατωμένο.</p>
                      <p class="text-faded">Η καρύδα είναι απλά αναζωογονητική και αναζωογονητικά απλή και ένα από τα πιο υγιεινά φυσικά φρούτα του πλανήτη.</p>
                      <p class="text-faded">Απόλαυσέ την!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Coco King</h2>
                    <p>Απλώς Αναζωογονητικό, Αναζωογονητικά Απλό</p>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary" data-wow-delay=".1s"></i>
                        <h3>Αποστολή</h3>
                        <button class="btn btn-success popup">Περισσότερες πληροφορίες</button>
                        <div class="popup">
                            <p class="text-muted">Εδώ στο Coco King είμαστε τρελοί με τις καρύδες και είναι στόχος μας βρίσκουμε, να εισάγουμε και να σου παρέχουμε τίποτα λιγότερο από καρύδες της πιο φρέσκιας ποιότητας που έχει ο κόσμος να προσφέρει.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="{% static 'assets/img/van.png' %}" width="70px" height="70px;"/>
                        <h3>Παραγγελίες και Διανομή</h3>
                        <button class="btn btn-success popup">Περισσότερες πληροφορίες</button>
                        <div class="popup">
                          <p class="text-muted">Γιατί να μην παραγγείλεις ένα κουτί με 9 φρέσκες, νεαρές καρύδες ή να γίνεις συνδρομητής και εμείς θα χαρούμε να στις διανέμουμε στο σπίτι ή στην δουλειά σου.
Μπορούμε να προμηθεύσουμε και να διανέμουμε σε όλη την Κύπρο και να παρέχουμε και να διευθετήσουμε την αποστολή στην Ελλάδα και στις υπόλοιπες γύρω χώρες .
Για διανομές εκτός Κύπρου, παρακαλώ επικοινώνησε μαζί μου μέσω email για περισσότερες πληροφορίες.
Παράγγειλε ένα κουτί με 42.50€ συν τα έξοδα αποστολής ή γίνε συνδρομητής για ένα κουτί κάθε δέκα μέρες ή νωρίτερα για 37.50€ συν τα έξοδα αποστολής.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="{% static 'assets/img/coconut.png' %}" width="65px" height="65px;"/>
                        <h3>Οι Καρύδες μας</h3>
                        <button class="btn btn-success popup">Περισσότερες πληροφορίες</button>
                        <div class="popup">
                          <p class="text-muted">Αυθεντικό, ακατέργαστο, μη παστεριωμένο νερό καρύδας και γευστική ψίχα</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary" data-wow-delay=".4s"></i>
                        <h3>Φτιαγμένο με Αγάπη</h3>
                        <button class="btn btn-success popup">Περισσότερες πληροφορίες</button>
                        <div class="popup">
                          <p class="text-muted">Η πρώτη και μοναδική εταιρία Καρύδας στην Κύπρο, φέρνει τις υψηλότερης ποιότητας Φρέσκες Νεαρές Καρύδες από την Ταϊλάνδη.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
              <div class="container">

  <div class="row">
    {% if stockist %}
    {% for s in stockist %}

      <div class="col-md-3">
          <div class="thumbnail">
              <div class="caption">
                  <h4>{{s.title}}</h4>

                  <button class="btn btn-success popup">θέα</button>
                  <div class="popup">
                    <p class="text-muted"><p>{{s.body}}</p></p>
                    {% if s.web_link_url %}
                    <p><a href="{{s.web_link_url}}">View Website</a></p>
                    {% endif %}
                  </div>

              </div>
              {% if s.thumbnail %}
              <a href="{{s.web_link_url}}"><img src="{{baseUrl}}/assets/{{s.thumbnail}}" alt="..." width="300px" height="400px"></a>
              {% else %}
              <a href="{{s.web_link_url}}"><img src="{{baseUrl}}/assets/img/restaurant-default.png" alt="..." width="300px" height="400px"></a>
              {% endif %}
          </div>
    </div>
    {% endfor %}
    {% endif %}


</div>

</div><!-- /.container -->
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Λίστα αποθεμάτων</h2>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Ας μιλήσουμε Καρύδες</h2>
                    <hr class="primary">
                    <p>Τηλεφώνησέ μας ή στείλε μας ένα email και θα επικοινωνήσουμε μαζί σου όσο το δυνατόν πιο σύντομα.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <div class="brown"><i class="fa fa-phone fa-3x wow bounceIn"></i></div>
                    <p>(+357) 97752202</p>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="brown"><i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></div>
                    <p><a href="mailto:info@cocoking.eu">info@cocoking.eu</a></p>
                </div>

            </div>
            <br />

</div>

    <p style="text-align:center">Developed by <a href="http://www.jamesthomasfarrell.uk">James Farrell</a></p>

    </section>

    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                      <p style="text-align: center">
                        <a href="https://www.facebook.com/cocokingcy"><img src="{% static 'assets/img/1437756545_Facebook.png' %}" class="social-icons"/></a>
                        <a href="https://twitter.com/cocokingcy"><img src="{% static 'assets/img/1437756555_Twitter.png' %}" class="social-icons"/></a>
                        <a href="https://instagram.com/cocokingcy/"><img src="{% static 'assets/img/round_image_100757.png' %}" class="social-icons"/></a>
                      </p>
                    </div>
                </div>
            </div>
        </footer>



    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.fittext.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'assets/js/creative.js' %}"></script>

    <script>

        (function(){
          $('div.popup').hide();

          $('button.popup').on('click', function(){
            $(this).next().slideToggle(600);
          });
        })();
    </script>

</body>

</html>
