<!DOCTYPE html>
{% load static %}
{% static '' as baseUrl %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coco King</title>


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Handlee:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/creative.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon(1).ico' %}">

    <!-- Flag CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/flags.css' %}" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Coco King</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Stockists</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                    <a href="{% url 'home_greek' %}"><img src="{% static 'assets/img/NFFFFFF-0.png' %}" class="flag flag-cy flag_placement" alt="Cyprus flag" /></a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>

        <div class="header-content">

            <div class="header-content-inner">
                <img src="{% static 'assets/img/logo.png' %}" id="logo"/>
                <hr>
                <a href="#about" class="page-scroll">
                  <span><i class="fa fa-4x fa-arrow-circle-down "></i></span>
                </a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <hr class="light">
                    <p class="text-faded">{{about.aboutUs|safe}}</p>
                    <button class="btn btn-success popup">Learn More</button>
                    <div class="popup">
                      <br />
                      <h2 class="section-heading">About Young Coco Nuts and Coconut Water</h2>
                      <hr class="light">
                      <p class="text-faded">{{about.aboutCoconuts|safe}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Coco King</h2>
                    <p>Simply Refreshing, Refreshingly Simple</p>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary" data-wow-delay=".1s"></i>
                        <h3>Mission</h3>
                        <button class="btn btn-success popup">Learn More</button>
                        <div class="popup">
                            <p class="text-muted">{{details.mission|safe}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="{% static 'assets/img/van.png' %}" width="70px" height="70px;"/>
                        <h3>Orders and Deliveries</h3>
                        <button class="btn btn-success popup">Learn More</button>
                        <div class="popup">
                          <p class="text-muted">{{details.orders_and_deliveries|safe}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="{% static 'assets/img/coconut.png' %}" width="65px" height="65px;"/>
                        <h3>Our Coconuts</h3>
                        <button class="btn btn-success popup">Learn More</button>
                        <div class="popup">
                          <p class="text-muted">{{details.our_coconuts|safe}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary" data-wow-delay=".4s"></i>
                        <h3>Made with Love</h3>
                        <button class="btn btn-success popup">Learn More</button>
                        <div class="popup">
                          <p class="text-muted">{{details.made_with_love|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-primary">
        <div class="container text-center">
            <div class="call-to-action">

            </div>
        </div>
    </aside>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid" style="padding-top: 50px;">
            <div class="row no-gutter">


                <div class="container">

    <div class="row">
      {% if stockist %}
      {% for s in stockist %}

        <div class="col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h4>{{s.title}}</h4>

                    <button class="btn btn-success popup">View</button>
                    <div class="popup">
                      <p class="text-muted"><p>{{s.body}}</p></p>
                      {% if s.web_link_url %}
                      <p><a href="{{s.web_link_url}}">View Website</a></p>
                      {% endif %}
                    </div>

                </div>
                {% if s.thumbnail %}
                <img src="{{baseUrl}}/assets/{{s.thumbnail}}" alt="..." width="300px" height="400px">
                {% else %}
                <img src="{{baseUrl}}/assets/img/restaurant-default.png" alt="..." width="300px" height="400px">
                {% endif %}
            </div>
      </div>
      {% endfor %}
      {% endif %}


  </div>

</div><!-- /.container -->
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
             <h2>Our Stockists</h2>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let’s talk coconuts</h2>
                    <hr class="primary">
                    <p>Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <div class="brown"><i class="fa fa-phone fa-3x wow bounceIn"></i></div>
                    <p>(+357) 97752202</p>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="brown"><i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></div>
                    <p><a href="mailto:info@cocoking.eu">info@cocoking.eu</a></p>
                </div>

            </div>
            <br />

</div>

    <p style="text-align:center">Developed by <a href="http://www.jamesthomasfarrell.uk">James Farrell</a></p>

    </section>

    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <p style="text-align: center">
                          <a href="https://www.facebook.com/cocokingcy"><img src="{% static 'assets/img/1437756545_Facebook.png' %}" class="social-icons"/></a>
                          <a href="https://twitter.com/cocokingcy"><img src="{% static 'assets/img/1437756555_Twitter.png' %}" class="social-icons"/></a>
                          <a href="https://instagram.com/cocokingcy/"><img src="{% static 'assets/img/round_image_100757.png' %}" class="social-icons"/></a>
                        </p>
                        <p style="text-align: center; font-size:12px;">Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
                        <p style="text-align: center; font-size:12px;">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
                    </div>
                </div>
            </div>
        </footer>



    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.fittext.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'assets/js/creative.js' %}"></script>

    <script>

        (function(){
          $('div.popup').hide();

          $('button.popup').on('click', function(){
            $(this).next().slideToggle(600);
          });
        })();
    </script>

</body>

</html>
