.flag {
	width: 32px;
	height: 32px;
	background:url(/static/assets/img/flags.png) no-repeat
}

.flag.flag-cy {background-position: -32px 0}
.flag.flag-gb {background-position: 0 -32px}

.flag_placement {
position: relative;
top: 50px;
right: 10px;
}
