<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Coco King{% endblock %}</title>
  {% block custom_style %}{% endblock %}
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div style="height:60px; width: 300px; text-align: center"

    {% for message in messages %}
    	<p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} style="text-align: center">{{ message }}</p>
    {% endfor %}
  </div>


  <div style="padding-top: 50px">

    {% block content %}
    {% endblock %}

  </div> <!-- padding -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>
